DISCORD_TOKEN=
DISCORD_APPLICATION_ID=1502044170406199416
DISCORD_GUILD_ID=1352422295402057759
HOST=0.0.0.0
PORT=8687
DATA_DIR=data
MAX_SOURCE_SECONDS=3600
MAX_IMPORT_BYTES=1000000000
MAX_STORAGE_BYTES=10000000000
MAX_CLIP_SECONDS=60
MAX_PLAYBACKS=8
IMPORT_TIMEOUT_SECONDS=1800
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
JS_RUNTIME=deno

MAX_CHANNEL_VIDEOS=2000

DISCORD_CLIENT_SECRET=
AUTH_ENCRYPTION_KEY=
APP_BASE_URL=http://127.0.0.2:8687
APP_ADMIN_IDS=[]

POSTGRES_USER=geluidsman
POSTGRES_DB=geluidsman
POSTGRES_PASSWORD=
APP_UID=1000
APP_GID=1000

TRANSCRIPTION_URL=http://transcription:8000
